force-app/main/default/flows/Contact_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Contact_Summary_Data</name>
        <label>Get Contact Summary Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContactSummaryFetcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Transform_to_Contact_Summary_c_object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactSummaryFetcher</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>contactSummaryList</assignToReference>
            <name>summaries</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Contact_Summaries</name>
        <label>Save Contact Summaries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContactSummarySaver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Action_Succees</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedSummaries</name>
            <value>
                <elementReference>Transform_to_ContactSummary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactSummarySaver</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast_Message</name>
        <label>Show Success Toast Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:toastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contact summaries updated.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:toastAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Save_Action_Succees</name>
        <label>Save Action Succees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contact_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Action_Succeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Success_Toast_Message</targetReference>
            </connector>
            <label>Succeed</label>
        </rules>
    </decisions>
    <description>Improve error handling</description>
    <environments>Default</environments>
    <interviewLabel>Contact Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Show contact summary broup by state, type</description>
        <name>Contact_Summary</name>
        <label>Contact Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Transform_to_ContactSummary</targetReference>
        </connector>
        <fields>
            <name>error_message_area</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(167, 0, 0);&quot;&gt;&lt;em&gt;{!errorMessage}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>summary_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact_Summary__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Transform_to_Contact_Summary_c_object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Type__c&quot;,&quot;guid&quot;:&quot;column-9515&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;State__c&quot;,&quot;guid&quot;:&quot;column-a31c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contact_Count__c&quot;,&quot;guid&quot;:&quot;column-6c0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contact Count&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedObjRows</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Summary_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_to_Contact_Summary_c_object</name>
        <label>Transform to Contact_Summary__c object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Summary</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Contact_Summary__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Contact_Count__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>contactSummaryList[$EachItem].count</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>State__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>contactSummaryList[$EachItem].state</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contact_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>contactSummaryList[$EachItem].type</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_to_ContactSummary</name>
        <label>Transform to ContactSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>ContactSummary</apexClass>
        <connector>
            <targetReference>Save_Contact_Summaries</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>count</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedObjRows[$EachItem].Contact_Count__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>type</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedObjRows[$EachItem].Contact_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>state</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedObjRows[$EachItem].State__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Retrieved from Contact group by accountid, state, type</description>
        <name>contactSummaryList</name>
        <apexClass>ContactSummary</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saveRequestList</name>
        <apexClass>ContactSummarySaveRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedObjRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Summary__c</objectType>
    </variables>
    <variables>
        <name>selectedSummaryList</name>
        <apexClass>ContactSummary</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleSaveRequest</name>
        <apexClass>ContactSummarySaveRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
